<div class="comments-section" style="margin-top: 3rem;">
  <div class="prompt">user@portfolio:~$ <span class="command">tail -f comments.log</span></div>
  
  <script src="https://giscus.app/client.js"
    data-repo="msapuan/msapuan.github.io"
    data-repo-id="R_kgDOQSBb4A"
    data-category="Blog Comments"
    data-category-id="DIC_kwDOQSBb4M4CxmAT"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>